body{
  background-color: black;
  font-family: arial;

}

.calculation{
  font-size: 45px;
  color: white;
  margin-top: 15px;
  margin-bottom: 5px;
}

.calculator-button{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.gray-buttons{
  background-color: rgb(51, 51, 51);
  color: white;

}

.orange-buttons {
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-button{
  font-size: 17px;
}
